@import "tailwindcss";

@theme {
  --background: #000;
  --foreground: #ccc;
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Libertinus Mono", ui-monospace, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
